.tooltip {
	z-index: 999900;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0.125em 0.25em;
	padding: 0.375em;
	background-color: #100010;
	background-color: rgba(16, 0, 16, 0.94);
	color: #ffffff;
	font-size: 16px;
	line-height: 1.25em;
	font-family: "Minecraft";
	text-shadow: 0.125em 0.125em 0 #3f3f3f;
	white-space: nowrap;
	word-spacing: 4px;
	pointer-events: none;
	&::before {
		position: absolute;
		top: 0.125em;
		right: -0.125em;
		bottom: 0.125em;
		left: -0.125em;
		border: 0.125em solid #100010;
		border-style: none solid;
		border-color: rgba(16, 0, 16, 0.94);
		content: "";
	}
	&::after {
		position: absolute;
		top: 0.125em;
		right: 0;
		bottom: 0.125em;
		left: 0;
		border: 0.125em solid #2d0a63;
		border-image: linear-gradient(
				rgba(80, 0, 255, 0.31),
				rgba(40, 0, 127, 0.31)
			)
			1;
		border-image: linear-gradient(
				rgba(80, 0, 255, 0.31),
				rgba(40, 0, 127, 0.31)
			)
			1;
		content: "";
	}
}
